<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.lianyutian.cshop.social.mapper.UserRelationMapper">

    <resultMap id="BaseResultMap" type="github.lianyutian.cshop.social.model.po.UserRelation">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="attentionCount" column="attention_count" jdbcType="INTEGER"/>
        <result property="followerCount" column="follower_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,attention_count,
        follower_count
    </sql>
</mapper>
